@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    max-width: 2160px;
    margin: 0 auto;
    background: url("../img/bg.png");
    background-size: cover;
}

.container-header {
    display: flex;
    color: #fff;
    margin: 140px 140px 177px;
    align-items: center;
    justify-content: space-between;
    max-width: 1960px;

}

.media-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-title {
    font-weight: 400;
    font-size: 3rem;
}

.phone {
    font-weight: 500;
    font-size: 1.5rem;
    white-space: nowrap;
    text-align: end;
}

.number {
    font-size: 5rem;
    font-weight: 500;
}

.container-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 140px 140px 140px;
    align-items: center;
    justify-content: center;
    max-width: 2050px;

}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 53px 90px;
    width: 21rem;
    height: 287px;
    background-color: #fff;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
}

.button img {
    height: 166px;
}

.button-text {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #355ea1;
    font-weight: 500;
    width: 22.7rem;
    text-align: center;
    text-transform: uppercase;
}

.button:active {
    background-color: #355ea1;
}

.button:active .button-text {
    color: #fff;
    font-weight: 400;
}

.button:active .active {
    display: initial;
}

.button:active .noactive {
    display: none;
}

.active {
    display: none;
}

@media screen and (max-width: 2160px) {
    * {
        font-size: 17px;
    }
}

@media screen and (max-width: 1920px) {
    * {
        font-size: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .container-header {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 50px;
    }

    .phone{
        font-size: 3em;
        text-align: center;
    }

    .number {
        font-size: 2em;
    }

}